*{
    font-family:"Trebuchet MS", Helvetica, sans-serif
    margin:0px;
    padding:0px;
  }
  
  #border-style: outset;
  
  body{
    text-align:left; 
    padding: 30px;
    font-size:90%;
    line-height:1.5;
    height: 50%;
  }
  
  .nav-list {
    list-style-type: none;
  }
  
  header{
    font-weight: normal;
  }
  
  .nav {
      list-style-type: none;
      padding-left: 15px;
      width: 20%;
      height: 100%;
      border-right: 2px solid;
      position: fixed;
      overflow: auto;
      font-size: 25px;
      line-height: 1.5; 
  }
  
  nav a{
    display: block;
    padding:8px 20px;
    text-decoration:none;
    color:var(--text-color);
    border-bottom: 1px solid rgba(100,100,100,0.3); 
  }
  
  .nav link{
    cursor:pointer;
  }
  
  h1 {
    line-height: 1.5; 
    font-size:120%;
    font-weight: normal;
    font-size:25px;
  }
  
  label {
    font-size: 15px;
    line-height: 100%;
    padding-bottom:90%;
    padding-right:10%;
    font-weight: normal;
  }
  
  ul{
    padding-top:auto;
    padding-bottom:auto;
    padding-left:4%;
    font-size: 15px;
  }
  
  li{
    padding-top:1%;
    padding-bottom:1%;
    padding-left:4%;
    line-height: 1.5;
    font-size: 15px;
    font-weight: normal;
    
  }
  
    .layer1{
      background: #F2F2F2;
      padding-bottom:20px;
      padding-left: 30px;
      margin: 20px;
      font-size: 10pt;
      line-height:1.8em;
     }
  
  p1 {
    padding-left:1%;
    line-height: 10%;  
  }
  
  p2 {
    padding-left:3%; 
  }
  
  .layer2 {
     background: #F2F2F2;  
     padding-top:20px;
     padding-bottom:20px;
     padding-left: 30px;
     margin: 20px;
     font-size: 10pt;
     }
  
  .layer3 {
     background: #F2F2F2;  
     padding-top:20px;
     padding-bottom:20px;
     padding-left: 30px;
     margin: 20px;
     font-size: 10pt;
     line-height: 1.8em; 
     }