*{
  font-family:"Trebuchet MS", Helvetica, sans-serif
}

body{
  text-align:left; 
  padding: 30px;
  font-size:90%;
}

h1 {
  line-height: 1.5; 
  font-size:180%;
  font-weight: normal;
}

label {
  line-height: 150%;
  padding-bottom:100%;
  padding-right:10%;
}

ul{
  padding-top:auto;
  padding-bottom:auto;
  padding-left:4%;
  
}

li{
  padding-top:1%;
  padding-bottom:1%;
  padding-left:4%;
  line-height: 1.5;
}

  .layer1 {
    background: #F2F2F2;
    padding-bottom:20px;
    padding-left: 30px;
    margin: 20px;
    font-size: 10pt;
    line-height:1.8em;
   }

p1 {
  padding-left:1%;
  line-height: 10%;  
}

p2 {
  padding-left:3%; 
}

.layer2 {
   background: #F2F2F2;  
   padding-top:20px;
   padding-bottom:20px;
   padding-left: 30px;
   margin: 20px;
   font-size: 10pt;
   }

.layer3 {
   background: #F2F2F2;  
   padding-top:20px;
   padding-bottom:20px;
   padding-left: 30px;
   margin: 20px;
   font-size: 10pt;
   line-height: 1.8em; 
   }